label,input,p{
    margin:10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;

}
.container{
    background-color: antiquewhite;
    width:50%;
    height:50%;
    margin-top: 120px;
    font-size:30px;
    padding:30px;
    border-radius: 20px;
    border:10px solid blue;

}
input,button{
    height: 20px;
}
button{
    background-color: yellow;
    border-color: yellow;
    border-radius: 10px;
    height: 40px;
    width:100px;
    margin-left: 10px;
}
